flask>=1.0.2
functions-framework==3.0.0
pymongo[srv]
google-cloud-aiplatform==1.39.0
google-cloud-storage==2.14.0
protobuf==4.25.2
beautifulsoup4==4.12.2
Markdown==3.4.1
pymupdf
langchain
frontend
pypdf
